.tabs {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 5rem;
}

.tabNav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    gap: 1rem;
    overflow-y: scroll;
}

.tabNav span {
    white-space: nowrap;
}

.tabNav::-webkit-scrollbar {
    opacity: 0;
}

.arrow {
    width: 40px;
    height: 40px;
    background: #000;
}
