html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, Inter, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.slick-dots{
    display: flex;
    justify-content:space-between;
    width: 100%;
    
}

.slick-dots li{
    width: 100%;
}