.header {
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;
    background: #ffffff;
    min-height: 69px;
    max-height: 69px;
    width: 100%;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}
